.header{
	margin:0 0 10px 0;
	padding:2px 8px;
	border-width:10px 0;
	border-color: blue;
	border-style:solid;
	background:#00BFFF;
	color:white;
	line-height:140%;
	font-weight:bold;
	text-align:left;
	font-size:40px;
}

.main	{
	width: 100%;
	margin:auto;
	height:100%;
}
.joho{
	width:80%;
	margin:auto;
}

.info {
	margin:auto 80px 30px;;
	width:500px;
	height:400px;
	float:left;
}

.img{
	margin:auto 10px;
	width:400px;
	height:400px;
	float:left;
}
.comment{
	width:80%;
	height:270px;
	margin:auto;
	clear:both;
}

.comment1{
	width:80%;
	height:300px;
	margin:40px auto;
}




button {
	background-color: #fff;
	border: 2px solid black;
	color: black;
	font-family:'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','Meiryo UI','ƒƒCƒŠƒI',Verdana,'‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-weight: bold;
	font-size:25px;
	text-align:center;
	padding:5px;
	width: 220px;
	height:70px;
	margin:10px 5px;
}

input#button {
	background-color: #fff;
	border: 1px solid black;
	color: black;
	line-height: 20px;
	font-family:'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','Meiryo UI','ƒƒCƒŠƒI',Verdana,'‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-weight: bold;
	font-size:20px;
	text-align: center;
	width: 55px;
	height:175px;
}

input#button:hover {
	border-style: dashed;
}


button:hover {
	border-style: dashed;
}

input {
	width:99%;
	border: 1px solid black;
}
textarea{
	border: 1px solid black;
}

body {
	font-family:'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','Meiryo UI','ƒƒCƒŠƒI',Verdana,'‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
}
div#footer{
	margin:0;
	padding:2px 8px;
	border-width:10px 0;
	border-color: blue;
	border-style:solid;
	background:#00BFFF;
	color:white;
	line-height:140%;
	height:45px;
}

table.touroku{
	margin:50px auto;
	width:900px;
}

table.touroku td, th {
	padding: 1px;
	width: 100px;
	height: 20px;
	text-align:left;
}

table.info{
	width:550px;
}

table.info td{

	width: 100px;
	height: 40px;
	text-align:left;

}

img{
	margin:10px auto;
}

.button {
	width:1350px;
	height:100px;
	text-align:center;
	margin:auto;
}

table.chat td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 1px;
	width: 30px;
	height: 40px;

}
table.chat{
	width:800px;
	margin:auto;
	overflow-y:auto;
	height:30px;
}
a.delete{
	font-color:red;
}