h1{
	color:white;
	margin:0 auto;
}

.header{
	margin:0 0 10px 0;
	padding:2px 8px;
	border-width:10px 0;
	border-color: blue;
	border-style:solid;
	background:#00BFFF;
	color:white;
	line-height:140%;
	font-weight:bold;
	text-align:center;
	font-size:40px;
}

button {
	background-color: #fff;
	border: 4px solid black;
	color: black;
	line-height: 50px;
	font-family:'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','Meiryo UI','ƒƒCƒŠƒI',Verdana,'‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
	font-weight: bold;
	font-size:25px;
	text-align: center;
	padding:10px 10px 10px 0px;
	width: 350px;
	height:130px;
	margin:10px 20px;
}

button:hover {
	border-style: dashed;
}

body {
	font-family:'ƒqƒ‰ƒMƒmŠpƒS Pro W3','Hiragino Kaku Gothic Pro','Meiryo UI','ƒƒCƒŠƒI',Verdana,'‚l‚r ‚oƒSƒVƒbƒN',sans-serif;
}

img{
	vertical-align: middle;
	margin: 0 15px 5px 0;
}

a{
	font-size:20px;
}

.main {
	width: 100%;
	margin:auto;
	height:530px;
}

.auto-style1 {
	margin-right: 5px;
}

.auto-style2 {
	margin-right: 0px;
}

.auto-style3 {
	margin-left: 0;
	margin-right: 0px;
}

.auto-style4 {
	margin-right: 33px;
}

.auto-style5 {
	margin-bottom: 39px;
}

div#footer{
	margin:0;
	padding:2px 8px;
	border-width:10px 0;
	border-color: blue;
	border-style:solid;
	background:#00BFFF;
	color:white;
	line-height:140%;
	height:45px;
}

.main2 {
	text-align: center;
	margin:60px auto;

}

.main3 {
	display:inline-flex;

}
